{% include "mainPage.html" %}

<div>
    <h1>{{ name }}</h1>
    <menu>
        <form method="POST" action="{% url 'deleteGroup' %}"><li>
            {% csrf_token %}
            <input type="hidden" value="{{ id }}" name="groupId">
            <input type="submit" value="Delete Group">
        </li></form>
    </menu>

    <form method="POST" action="{% url 'addItem' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ id }}" name="groupId">
        <input type="hidden" value="{{ name }}" name="groupName">
        
        <label for="url">URL: </label><br/>
        <input type="text" name="url" placeholder="URL of the item you wish to add" autocomplete="off">
        <input type="submit" value="Add item">
    </form>

    <form method="POST" action="{% url 'deleteItems' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ id }}" name="groupId">
        <input type="hidden" value="{{ name }}" name="groupName">

        <input type="submit" value="Delete"/>
        <label for="moveGroups">Move to: </label>
        <select name="moveGroups">
            {% for g in groups %}
                {% if g.name != name %}
                    <option value="{{ g.pk }}">{{ g.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Move" formaction="{% url 'moveItems' %}"/>
        {% for i in items %}
            <div class="item">
                <input type="checkbox" name="selectedItems" value="{{ i.id }}"><br/>
                <img src="{{ MEDIA_URL }}{{ i.imagePath }}" />
                <p><label for="selectedItems"><a href="{% url 'itemPage' i.id %}">{{ i.name }}</a></label></p>
            </div>
        {% endfor %}
    </form>
</div>